BasedOnStyle: Google
NamespaceIndentation: All

ColumnLimit: 120

AllowShortBlocksOnASingleLine: Always
AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true

PackConstructorInitializers: Never
